.section-gap {
	margin-top: 20px
}

.pass {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border: 2px solid #e0e0e0;
	padding: 10px 20px;
	border-radius: 10px;
	max-width: fit-content;
}

.pass-link {
	text-decoration: none;
	color: inherit;
}

.pass:hover {
	background-color: #e0e0e0;
}

.wallet-pass {
	display: flex;
	gap: 20px;
}