.action-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.action-section .title-icon {
  width: 80px;
  height: 80px;
}

.action-section .desc {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #707070;
}

.action-section .sl-coinbase {
  width: auto;
  height: 16px;
}

.action-section .action-btn {
  min-width: 343px;
  height: 56px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #fffefe;
  background: #6868ff;
}

.action-section .action-btn:hover {
  background-image: linear-gradient(90deg, #6868ff 0%, #dc79ff 100%);
}

.action-section .action-btn:active {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(90deg, #6868ff 0%, #dc79ff 100%);
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Ensure it covers full viewport width */
  height: 100vh; /* Ensure it covers full viewport height */
  backdrop-filter: blur(10px); /* Apply blur effect */
  background: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background for better visibility */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensure it is above other content */
}

.loading-overlay .loading-icon {
  width: 80px;
  height: 80px;
}

.pass-section {
  display: flex;
  justify-content: center;
}

.pass-section:hover {
  opacity: 0.8;
}

.pass {
  max-width: 500px;
  width: 100%;
}

.pass-link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 480px) {
	.action-section .desc {
    font-size: 16px;
    line-height: 20px;
  }

  .action-section .title-icon {
    width: 56px;
    height: 56px;
  }
}