.section-gap {
	margin-top: 20px
}

.pass {
	max-width: fit-content;
	position: relative;
}

.pass-cover {
	border-radius: 12px;
}

.pass-no {
	position: absolute;
	bottom: 20px;
	right: 30px;
	color: white;
	z-index: 10;
}

.pass-link {
	text-decoration: none;
	color: inherit;
}

.pass:hover {
	opacity: 0.8;
}

.wallet-pass {
	display: flex;
	gap: 20px;
}