new-viewer {
  padding: 10px 25px;
  position: relative;
  flex-grow: 1;
}

.container {
  height: calc(100vh - 240px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-title {
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  margin-bottom: 20px;
}

.header-subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #707070;
}
