.token-info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.token-info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.token-info-header .token-info-title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  color: #2d2d2d;
}

.token-info-header .token-info-subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #707070;
}

.token-info-attributes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.token-info-attributes .token-info-attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(to right, rgba(220, 121, 255, 0.15), rgba(104, 104, 255, 0.15));
}

.token-info-attribute .label {
  margin: 16px 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #dc79ff;
}

.token-info-attribute .value {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  color: #dc79ff;
}

.token-info-container .action-btn {
  min-width: 343px;
  height: 56px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #fffefe;
  background: #6868ff;
}

.token-info-container .action-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .token-info-header .token-info-subtitle {
    max-width: 279px;
  }
}
